<div class="container ">
  <br />
  <div class="row ">
    <div class="col">
      <h3>Consumer</h3>
    </div>
    <div class="col text-right">
      <button class="btn btn-info" data-toggle="modal" data-target="#add">Add Consumer <i  class="fas fa-plus-circle text-light"></i></button>
    </div>


  </div>
  <div *ngIf='isLoading' class="spinner-border text-dark text-center " role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="search">
    <input [(ngModel)]="term" class="form-control my-2 bg-dark text-light" type="text" placeholder="Enter To Search">
  </div>

  <br/>
  <table class="table table-bordered table-xl text-center ">

    
    <tr class="bg-dark">
      <th>Index</th>

      <th>Consuming Date </th>
      <th>Name</th>
      <th>Description</th>
      <th>Unit Name</th>
     


    </tr>
      <tr *ngFor="let consumer of allConsuming |filter:term | paginate: { itemsPerPage: 5, currentPage: p } ; let i = index  ">
      <td>{{i}}</td>
      <td>{{ consumer.consumingDate |date}}</td>
      <td>{{ consumer.item?.name }}</td>
      <td>{{ consumer.item?.description }}</td>
      <td>{{ consumer.item.unit?.name }}</td>

   

   
  </tr> 
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div> 


<!--  -->



  <!--------------- Add ----------->
  <div class="modal fade  bd-example-modal-lg" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Consumer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <div class="container">
            <form [formGroup]="addConsumer" (ngSubmit)="submitForm(addConsumer)">
               
            <div class="row">
 
         
                <!--  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="content">
                        <div class="form-group">
                            <label for="invoiceDate">Invoice Date</label>
                            <input type="date" formControlName="date" class="form-control">
                            <div *ngIf="addConsumer.get('invoiceDate')?.errors != null && addConsumer.get('invoiceDate')?.touched" class=" alert  my-2">
                                <p  *ngIf="addConsumer.get('invoiceDate')?.errors?.required" class=" my-2 text-danger"> This Input Is Required  </p>
                             </div> 
                        </div>
                    </div>
                </div>
   
      
                <!--  -->

                <div class="col text-right my-2">
                    <button  type="button" class="btn btn-info" data-toggle="modal" data-target="#add-2">Add Item <i  class="fas fa-plus-circle text-light"></i></button>
                     <!-- (click)="resetForm()" -->
                  </div>
                <table class="table table-bordered table-xl text-center ">
  
      
                    <tr class="bg-dark">
                      <th>Index</th>
                      <th>Item Name</th>
                      <th>Count</th>

              
                    </tr>
                      <tr *ngFor="let item of consumerItems |filter:term  ; let i = index  ">

                        <td>{{i}}</td>
                        <td>{{getItemName(item.itemId)}}</td>
                        <td>{{item.count}} </td>
                        
                  </tr> 
                  </table>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" [disabled]="addConsumer.invalid">Submit </button>
                <!--  [disabled]="addInvoice.invalid" -->
              </div>
        </form>

    

           </div>
        </div>
       
      </div>
    </div>
  </div>
  <!--  -->




  <div class="modal fade  bd-example-modal-lg" id="add-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-add-item (outColectItems)="collectItems($event)"></app-add-item>
  
        </div>
    
      </div>
    </div>
  </div>
  